.containerDashboard {
    height: 80vh;
    margin: 10px auto 0;
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}




.contentMain {
    width: 75%;
    height: 100%;
    background: #f3f3f3;
    /* background: #dd0909; */
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    /* flex-direction: column; */
}




.contentVisitors {
    height: 45px;
    background: #f3f3f3;
    /* background: #4008db; */
    /* padding: 20px; */
    /* align-self: center; */
    margin-bottom: 10px;
    /* flex-direction: column; */
}



.contentVisitors form {
    display: flex;
    justify-content: space-between;
}

.contentVisitors form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F0F0F5;
    flex: 1;

    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 45px;
    width: 260px;
    padding: 0 15px;
    font-size: 14px;
}

.contentVisitors  form .selected {
    background: #E1FAEC;
    border: 2px solid #34CB79;
}



.contentVisitors button.btnLogin {
    border: 0;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: lightgrey;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.2s;
}

.contentVisitors button.btnLogin:hover {
    background: #d3a277;
}




.contentRooms {
    background: #f3f3f3;
    flex-direction: column;
}

.contentRooms ul {
    display: grid;
    grid-gap: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.contentRooms ul li {
    display: flex;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
}

.contentRooms ul li span {
    text-align: center;
    align-self: center;
}

.contentRooms ul li span img {
    max-width: 70%;
}

.contentRooms ul li footer {
    flex: 1;
    text-align: left;
}

.contentRooms ul li footer strong {
    font-size: 14px;
    color: #333;
}

.contentRooms ul li footer p {
    font-size: 12px;
    line-height: 15px;
    color: rgb(76, 76, 76);
}







.contentQueues {
    width: 25%;
    height: 100%;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
}

.contentQueues ul {
    display: grid;
    grid-gap: 20px;
}

.contentQueues ul li {
    display: flex;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
}

.contentQueues ul li span {
    text-align: center;
    align-self: center;
}

.contentQueues ul li span img {
    max-width: 70%;
}

.contentQueues ul li footer {
    flex: 1;
    text-align: left;
}

.contentQueues ul li footer strong {
    font-size: 14px;
    color: #333;
}

.contentQueues ul li footer p {
    font-size: 12px;
    line-height: 15px;
    color: rgb(76, 76, 76);
}
