.containerDashboard {
    height: 85vh;
    margin: 10px auto 0;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.contentMain {
    width: 73%;
    height: 100%;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
}

.contentVisitors {
    height: 45px;
    background: #f3f3f3;
    margin-bottom: 10px;
}

.contentVisitors form {
    display: flex;
    justify-content: space-between;
}

.contentVisitors form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F0F0F5;
    flex: 1;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 45px;
    width: 260px;
    padding: 0 15px;
    font-size: 14px;
}

.contentVisitors button.btnCheckin {
    border: 0;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(230, 228, 228);
    color: #7e7e07;
    cursor: pointer;
    transition: border-color 0.2s;
}

.contentVisitors button.btnCheckin:hover {
    background: lightgrey;
}

.contentRooms {
    background: #f3f3f3;
    height: 70vh;
    overflow-y: scroll;
}

.contentRooms ul {
    display: grid;
    grid-gap: 10px;
    padding-bottom: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.cardPerson {
    display: flex;
    background: rgb(230, 228, 228);
    border-radius: 10px;
}

.cardPerson span {
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px 0 0 10px;
}

.cardPerson span img {
    margin-top: 5px;
    max-width: 70%;
}

.cardPerson footer {
    flex: 1;
    text-align: center;
    background: rgb(230, 228, 228);
    padding-top: 3px;
}

.cardPerson footer strong {
    font-size: 14px;
    color: #333;
}

.cardPerson footer p {
    font-size: 12px;
    color: rgb(76, 76, 76);
}

.cardPerson footer h6 {
    font-size: 10px;
    color: rgb(76, 76, 76);
}

.btnCheckout {
    font-size: 12px;
    color: #7e7e07;
    background-color: transparent;
    border: 0px;
    width: 30px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.btnCheckout:hover {
    background: lightgrey;
}

.contentQueues {
    width: 27%;
    height: 100%;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 5px 20px;
}

.contentQueues div {
    text-align: center;
    margin-bottom: 5px;
}

.contentQueues .queuePerson {
    height: 93%;
    overflow-y: scroll;
}

.contentQueues .queuePerson ul {
    display: grid;
    grid-gap: 10px;
}
