.containerLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.content {
    width: 450px;
    height: 340px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
}

.content > p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
}

.content form label span {
    font-weight: normal;
    color: #999;
    font-size: 12px;
}

.content form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

.content button.btnLogin {
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(230, 228, 228);
    color: #7e7e07;
    cursor: pointer;
    transition: border-color 0.2s;
}

.content button.btnLogin:hover {
    background: lightgrey;
}

.validation-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
}

.validation-container strong {
    font-size: 26px;
    color: #34CB79;
}

.validation-container .mensageError {
    color: #cb3434;
}

.validation-container button {
    border: 0;
    background: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}

.contentLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
